<h2>Signup Here!</h2>

<% if flash[:notice] %>
    <ul><%= flash[:notice].each do |msg| %>
        <li><%= msg %></li>
    <% end %></ul>
<% end %>

<%= form_for :user, url:'signup' do |f| %>
    <p><%= f.label :name, "Your username:" %>
    <%= f.text_field :name %></p>
    <p><%= f.label :password %>
    <%= f.password_field :password %></p>
    <p><%= f. label :password_confirmation, "Confirm password" %>
    <%= f.password_field :password_confirmation %></p>
    <%= f.submit "Submit" %>
<% end %>