<h2>Signup Here!</h2>

<% if flash[:name_errors] %>
    <% flash[:name_errors].each do |msg| %>
        <p style="color:red"><%= msg %></p>
    <% end %>
<% end %>

<% if flash[:password_errors] %>
    <% flash[:password_errors].each do |msg| %>
        <p style="color:red">Password <%= msg %>!</p>
    <% end %>
<% end %>

<% if flash[:password_confirmation_errors] %>
    <% flash[:password_confirmation_errors].each do |msg| %>
        <p style="color:red">"Confirm password" <%= msg %>!</p>
    <% end %>
<% end %>

<%= form_for :user, url:'signup' do |f| %>
    <p><%= f.label :name, "Your username:" %>
    <%= f.text_field :name %></p>
    <p><%= f.label :password %>
    <%= f.password_field :password %></p>
    <p><%= f. label :password_confirmation, "Confirm password" %>
    <%= f.password_field :password_confirmation %></p>
    <%= f.submit "Submit" %>
<% end %>