<div class="main-content">
    <h2>Create a new habit!</h2>

    <%= form_for @my_habit, url: "/users/#{current_user.id}/my_habits" do |f| %>
        
        <div>
            <%= f.label :habit_name, "Choose a habit: " %>
            <%= f.text_field :habit_name, list: "habits_autocomplete", include_blank: "start typing", required: true %>
            <datalist id="habits_autocomplete">
            <% Habit.all.each do |habit| %>
                <option value="<%= habit.name %>">
                <% end %>
                </datalist><br>
            <em>Start typing to choose an existing habit or create your own.</em>
        </div><br>

        <div>
            How often will you do this habit?<br>
            <%= f.radio_button :frequency, "daily" %>
            <%= f.label :frequency_daily, "Daily" %><br>
            <%= f.radio_button :frequency, "weekly" %>
            <%= f.label :frequency_weekly, "Weekly" %><br>
            <%= f.radio_button :frequency, "monthly" %>
            <%= f.label :frequency_monthly, "Monthly" %>
        </div><br>

        <div>
            <%= f.label :notes, "Add any details or other notes for yourself about the habit:" %><br>
            <%= f.text_area :notes %>
        </div><br>

        <%= f.hidden_field :status, value: false %>
        
        <%= f.submit "Create your habit!" %>

    <% end %>
 
</div>