<div class="main-content">
    <h2>Create a new habit!</h2>

    <%= form_for :my_habit do |f| %>
        <%= f.label :habit_id, "Select a predefined habit: " %>
        <%= f.collection_select :habit_id, Habit.all, :id, :name, prompt: "Select or create a new habit" %>
        <%= f.label :habit_id[:name], "or add your own: " %>
        <%= f.text :habit_id[:name] %>
    <% end %>
 
</div>