<!DOCTYPE html>
<html>
  <head>
    <title>Track Your Habits!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="title"<h1>Your Habit Tracker</h1></div>
  <div class="navbar">
    | <%= link_to "Home", '/' %> | 
    <% if logged_in? %>
      <%= link_to "My Profile", user_path(current_user) %> | 
      <%= link_to "Logout", '/logout' %> | 
    <% else %>
      <%= link_to "Signup", '/signup' %> | 
      <%= link_to "Login", '/login' %> | 
    <% end %>
  </div>
    <%= yield %>
  </body>
</html>
